<!doctype html>
<head>
    <title>Azure App Service (Python)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Práctica de Azure App Service</h1><br>
          </div>
        <div class="col-md-6 mx-auto text-center">
            <h1  class="form-label fw-bold fs-5">Noriega Encinas Luis Angel, Diego Herrera Diaz</h1>
            <h6  class="form-label">(La captura debe incluir la url de tu navegador web)</h6>
        </div>
     </main>      
   </body>
</html>